<%- include ("partials/header") %>

<div class="main-body">
  <h1>Home</h1>
  <p><%- indexText %></p>
  <% blogItems.forEach((blogPost, index) => { %>
  <div class="blogPreview">
    <br />
    <a class="blogPostA" href="/blog/<%= index %> "><%- blogPost.post %></a>
  </div>
  <% }) %>
</div>

<%- include ("partials/footer") %>
