<%- include ("partials/header") %>
<div class="main-body">
  <h1>Home</h1>
  <p class="blogPreview"><%- indexText %></p>
  <% for( let index = 0; index < blogItems.length; index++ ) { %>
  <div class="blogPreview">
    <br />
    <%- blogItems[index] %>
    <a href="/blog/<%= index %> ">Continue</a><% } %>
  </div>
</div>
<%- include ("partials/footer") %>
