<%- include ("partials/header") %>

<div class="main-body">
  <h1>Home</h1>
  <p class="blogPreview"><%- indexText %></p>
  <% blogItems.forEach((element, index) => { %>
  <div class="blogPreview">
    <br />
    <%- element %>
    <a href="/blog/<%= index %> ">Continue</a>
  </div>
  <% }) %>
</div>

<%- include ("partials/footer") %>
